#sidebar--container {
  position: fixed;
  width: 20%;
  z-index: 1;
}
.profile-picture-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfcfef;
  border-radius: 2rem;
  opacity: 0.75;
  height: 250px;
  margin-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  transition: all 0.9s;
}

.profile-picture-container:hover .profile-picture-actions {
  position: absolute;
  bottom: 0;
}

.profile-picture-actions {
  position: absolute;
  bottom: -60%;
  transition: all 0.9s;
}
.profile-picture {
  max-width: 100%;
  max-height: 100%;
}

.user-icon {
  color: #333;
  font-size: 9rem;
}

.sidebar--list {
  width: 100%;
}
#profile--container {
  margin-left: 30%;
  width: 70%;
}
@media only screen and (min-width: 990px) and (max-width: 1400px) {
  #sidebar--container {
    width: 25%;
  }
}

@media only screen and (max-width: 990px) {
  .profile-picture-container {
    height: 100px;
    margin-bottom: 0;
    width: 100px;
  }

  .user-icon {
    color: #333;
    font-size: 2rem;
  }
  #profile--container {
    margin-left: 0;
    width: 100%;
  }
  #sidebar-nav-1 {
    flex-direction: inherit;
    gap: 2px;
  }
  #sidebar--container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    align-items: baseline;
    display: flex;
  }
  .sidebar--list {
    display: flex;
    align-items: center;
  }
  .sidebar--text {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .sidebar--list {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 510px) {
  .sidebar--list {
    padding: 5px;
  }
}
