.container-image {
  position: relative;
  width: 90%;
  margin: auto;
  box-shadow: 1px 1px 1rem;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 20rem;
  opacity: 60%;
}
.container-image img {
  width: 100%;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 20rem;
}

.banner-text {
  position: absolute;
  color: black;
  text-shadow: 2px 2px 4px;
  top: 8%;
  left: 8%;
}

.icons {
  position: absolute;
  right: 30px;
  top: 20px;
}
.icons:hover {
  color: black;
}

.text {
  position: absolute;
  left: 30px;
  top: 20px;
}
.imaage {
  border: 2px;
  border-radius: 50px;
}
.iconns1-come {
  display: flex;
  justify-content: space-evenly;
}
.iconns2-come {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
}
.row {
  margin-right: 0px;
}
@media only screen and (max-width: 700px) {
  .banner-text {
    font-size: 20px;
  }
  .iconns1-come {
    padding-left: 20%;
  }
  .iconns2-come {
    padding-left: 20%;
  }
}
@media only screen and (max-width: 510px) {
  .banner-text {
    padding-bottom: 30px;
  }
  .ba-text {
    font-size: 15px;
  }
  .iconns1-come {
    padding-left: 20%;
  }
  .iconns2-come {
    padding-left: 20%;
  }
}
.Icon2-come,
#about {
  margin-top: 1rem;
  background-color: rgba(var(--bg-primary), 0.8);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}
.Icon2-head {
  margin-top: 1rem;
  background-color: rgba(var(--bg-secondary), 0.5);
  box-shadow: 0 0 5px;
  border-radius: 2rem;
  padding: 20px;
  margin-bottom: 20px;
}
h2.profile--header:hover {
  color: #42b817;
  cursor: pointer;
}
